# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.db

# Data
data/raw_uploads/*
data/processed/*
data/logs/*
!data/raw_uploads/.gitkeep
!data/processed/.gitkeep
!data/logs/.gitkeep

# IDEs
.vscode/
.idea/
